
@{
                /**/

                ViewBag.Title = "Accueil";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accueil</h2>
<p> Nous sommes le @(((DateTime)ViewData["date"]).ToString("dd/MM/yyyy"))
